[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Endymion Kasanardjo (zetafish)
[access "refs/for/refs/*"]
	read = group user/Endymion Kasanardjo (zetafish)
	push = group user/Endymion Kasanardjo (zetafish)
	label-Code-Review = -2..+2 group user/Endymion Kasanardjo (zetafish)
	label-Verified = -1..+1 group user/Endymion Kasanardjo (zetafish)
	rebase = group user/Endymion Kasanardjo (zetafish)
	removeReviewer = group user/Endymion Kasanardjo (zetafish)
	submit = group user/Endymion Kasanardjo (zetafish)
[access "refs/heads/*"]
	read = group user/Endymion Kasanardjo (zetafish)
	create = group user/Endymion Kasanardjo (zetafish)
	push = +force group user/Endymion Kasanardjo (zetafish)
	pushMerge = group user/Endymion Kasanardjo (zetafish)
[access "refs/tags/*"]
	push = +force group user/Endymion Kasanardjo (zetafish)
	pushTag = group user/Endymion Kasanardjo (zetafish)
	pushSignedTag = group user/Endymion Kasanardjo (zetafish)
